[Desktop Entry]
Encoding=UTF-8
Name=Link to SimplytheBest Shutdown event WAV sounds
Type=Link
URL=http://simplythebest.net/sounds/WAV/events_WAV/shutdown_wavs.html
Icon=gnome-fs-bookmark
